<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587685568487-crm3b2qtv6ug0sro7gdn3h9vol2efevk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587685568487-crm3b2qtv6ug0sro7gdn3h9vol2efevk</string>
	<key>API_KEY</key>
	<string>AIzaSyCEfYSfqGHrTh7hTlEC-1d2DeselZW_ap4</string>
	<key>GCM_SENDER_ID</key>
	<string>587685568487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeldafly.oz</string>
	<key>PROJECT_ID</key>
	<string>flutter-oz-c014a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-oz-c014a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587685568487:ios:6d40c78fe54ecdcb486742</string>
</dict>
</plist>